<% layout("layout/boilerplate") %>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%= campground.id %>?_method=PUT"
      ,
      method="post"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          id="title"
          name="title"
          class="form-control"
          value="<%= campground.title %>"
        />
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          id="location"
          name="location"
          class="form-control"
          value="<%= campground.location %>"
        />
      </div>
      <div class="mb-3">
        <label for="images" class="form-label">Image</label>
        <input
          type="text"
          id="images"
          name="image"
          class="form-control"
          value="<%= campground.image %>"
        />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="text"
          id="price"
          name="price"
          class="form-control"
          value="$<%= campground.price %>"
        />
      </div>
      <div class="mb-3">
        <label for="Desc" class="form-label">Description</label>
        <textarea
          name="description"
          id="Desc"
          cols="20"
          rows="10"
          class="form-control"
        >
          <%= campground.description %>"
          </textarea
        >
      </div>
      <!-- <br /> -->
      <div class="mb-3">
        <button class="btn btn-info">Update Campground</button>
      </div>
    </form>
    <a href="/campgrounds/<%= campground.id %>">Back to campground</a>
  </div>
</div>
